@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;1,400&family=Poppins:wght@500&family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@600;700&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none !important;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: yellow;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
    opacity: 0;
  }
}
section {
  padding: 5rem 1rem;
}

.link-btn_3 {
  margin-top: 1rem;
  display: inline-block;
  color: #dfd000;
  background: none;
  padding: 0 0 0 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Geologia", sans-serif;
  font-size: 1.4rem;
}

.link-btn {
  margin-top: 1rem;
  padding: 1.16rem 3rem;
  display: inline-block;
  color: yellow;
  background: none;
  cursor: pointer;
  font-size: 1.7rem;
}
.link-btn:hover {
  background: yellow;
  color: black;
}

.heading {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 3.3rem;
  -webkit-text-decoration: capitalize;
          text-decoration: capitalize;
  color: #222;
  text-transform: uppercase;
  font-weight: 700;
}

.about h3 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 3.3rem;
  color: #222;
  text-transform: uppercase;
  font-weight: 700;
}

h5 {
  width: 68%;
  font-size: 1.8rem;
  line-height: 3.5rem;
  color: grey;
  font-weight: 200;
}

.icons {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#login-btn {
  width: 85px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: yellow;
  padding: 4px 22px;
  border: 1px solid yellow;
  font-size: 14px;
  border-radius: 4px;
  background: none;
  margin-left: 10px;
}

#login-btn_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgb(0, 0, 0);
  padding: 10px 50px;
  border: 1px solid yellow;
  font-size: 14px;
  border-radius: 2px;
  background: none;
  margin-left: 10px;
}

.header {
  z-index: 1000;
  padding: 1rem 0;
}
.header.active {
  padding: 1rem 0;
  background: black;
}
.header .logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder;
}
.header .nav {
  margin-right: auto;
}
.header .nav a {
  font-size: 1.5rem;
  margin-right: 2rem;
  color: yellow;
}
.header .nav a:hover {
  text-decoration: underline !important;
  text-underline-offset: 0.5rem;
}
.header .icons div {
  font-size: 2.5rem;
  color: yellow;
  margin-left: 2rem;
  cursor: pointer;
}
.header #menu-btn {
  display: none;
}

button#login-btn-4 {
  width: 200px;
  height: 70px;
  color: black;
  border: 1px solid yellow;
  font-size: 1.6rem;
  border-radius: 4px;
  background: yellow;
  margin: -1px 6px -9% 0px;
}

section#menu {
  text-align: -webkit-center;
}

section#contact {
  text-align: -webkit-center;
  background: yellow;
  padding: 4rem 0rem 0rem 0rem;
}

.login-form {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
}
.login-form.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.login-form form {
  padding: 4rem;
  background: #fff;
  text-align: center;
  position: relative;
  -webkit-animation: fadeIn 0.2s linear;
          animation: fadeIn 0.2s linear;
}
.login-form form #close-login-form {
  position: absolute;
  top: -4rem;
  right: 0;
  font-size: 3rem;
  cursor: pointer;
  color: #fff;
}
.login-form form #close-login-form:hover {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.login-form form .logo {
  font-size: 2.5rem;
  color: #512a10;
  font-weight: bolder;
}
.login-form form h3 {
  padding: 1rem 0;
  font-size: 2rem;
  -webkit-text-decoration: capitalize;
          text-decoration: capitalize;
  color: #222;
  margin-top: 1rem;
}
.login-form form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border: 0.1rem solid #512a10;
  font-size: 1.6rem;
  margin: 1rem 0;
}
.login-form form .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;
}
.login-form form .flex label {
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
  margin-bottom: 0;
  cursor: pointer;
}
.login-form form .flex a {
  font-size: 1.5rem;
  color: #512a10;
  margin-left: auto;
}
.login-form form .flex a a:hover {
  text-decoration: underline !important;
}
.login-form form .link-btn {
  width: 100%;
  margin-bottom: 2rem;
}
.login-form form .account {
  padding: 1.5rem 0.5rem;
  background: #eee;
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
  margin-bottom: 0;
}
.login-form form .account a {
  color: #512a10;
}
.login-form form .account a:hover {
  text-decoration: underline !important;
}

.register-form {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
}
.register-form.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.register-form form {
  padding: 4rem;
  background: #fff;
  text-align: center;
  position: relative;
  -webkit-animation: fadeIn 0.2s linear;
          animation: fadeIn 0.2s linear;
}
.register-form form #close-register-form {
  position: absolute;
  top: -4rem;
  right: 0;
  font-size: 3rem;
  cursor: pointer;
  color: #fff;
}
.register-form form #close-register-form:hover {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.register-form form .logo {
  font-size: 2.5rem;
  color: #512a10;
  font-weight: bolder;
}
.register-form form h3 {
  padding: 1rem 0;
  font-size: 2rem;
  -webkit-text-decoration: capitalize;
          text-decoration: capitalize;
  color: #222;
  margin-top: 1rem;
}
.register-form form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border: 0.1rem solid #512a10;
  font-size: 1.6rem;
  margin: 1rem 0;
}
.register-form form .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;
}
.register-form form .flex label {
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
  margin-bottom: 0;
  cursor: pointer;
}
.register-form form .flex a {
  font-size: 1.5rem;
  color: #512a10;
  margin-left: auto;
}
.register-form form .flex a a:hover {
  text-decoration: underline !important;
}
.register-form form .link-btn {
  width: 100%;
  margin-bottom: 2rem;
}
.register-form form .account {
  padding: 1.5rem 0.5rem;
  background: #eee;
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
  margin-bottom: 0;
}
.register-form form .account a {
  color: #512a10;
}
.register-form form .account a:hover {
  text-decoration: underline !important;
}

#login-tn {
  color: yellow;
  font-size: 14px;
}

.home {
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 0, 0)), to(rgba(0, 0, 0, 0.3))), url(../assets/banner.jpg) no-repeat;
  background: -o-linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.3)), url(../assets/banner.jpg) no-repeat;
  background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.3)), url(../assets/banner.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.home span {
  font-size: 1.5rem;
  color: #fff;
  padding: 7px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.home h3 {
  font-size: 5rem;
  color: #fff;
  width: 700px;
}
.home .h3_title {
  font-size: 5rem;
  color: yellow;
}
.home .link-btn {
  color: #222;
  border-color: yellow;
  margin: 10px 5px;
  background: yellow;
  border-radius: 4px;
}
.home .link-btn_2 {
  color: #fff;
  margin: 10px 5px;
  margin-top: 1rem;
  padding: 1rem 3rem;
  display: inline-block;
  border: 0.1rem solid yellow;
  background: none;
  cursor: pointer;
  font-size: 1.7rem;
}

hr {
  content: "";
  border: 2px solid #ffd600;
  position: relative;
  width: 40%;
  border-radius: 10px;
  margin: auto;
}

.about span {
  font-size: 2.5rem;
  color: #512a10;
}
.about .title {
  padding-top: 1rem;
  font-size: 3rem;
  -webkit-text-decoration: capitalize;
          text-decoration: capitalize;
  color: #222;
}
.about p {
  padding: 1rem 0;
  font-size: 1.6rem;
  line-height: 2;
  color: #666;
  margin-bottom: 0;
}
.about .icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 3rem;
}
.about .icons-container .icons {
  background: #eee;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
  display: grid;
  margin-bottom: 3rem;
}
.about .icons-container .icons i {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  color: #ffd600;
}
.about .icons-container .icons h3 {
  font-size: 1.5rem;
  -webkit-text-decoration: capitalize;
          text-decoration: capitalize;
  color: #222;
}

.menu {
  background: #eee;
}
.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
}
.menu .box-container .box {
  text-align: center;
  padding: 3rem 0rem;
  border-radius: 0.5rem;
}
.menu .box-container .box:hover {
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-1rem);
      -ms-transform: translateY(-1rem);
          transform: translateY(-1rem);
}
.menu .box-container .box img {
  margin-bottom: 2rem;
}
.menu .box-container .box h3 {
  font-size: 1.5rem;
  color: #222;
  font-family: "Geologia", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  padding: 8px 0px;
}
.menu .box-container .box p {
  padding: 1rem 0;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #ababab;
  margin-bottom: 0;
  font-family: "Geologia", sans-serif;
}

.menu_2 {
  background: #eee;
}
.menu_2 .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  padding: 0px 0px;
}
.menu_2 .box-container .box {
  text-align: left;
  padding: 3rem 0rem;
  border-radius: 0.5rem;
}
.menu_2 .box-container .box:hover {
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-1rem);
      -ms-transform: translateY(-1rem);
          transform: translateY(-1rem);
}
.menu_2 .box-container .box img {
  margin-bottom: 2rem;
  padding: 0 0 0 10px;
}
.menu_2 .box-container .box h3 {
  font-size: 1.5rem;
  padding: 5px 0px;
  color: #222;
  font-family: "Geologia", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  padding: 5px 0px 0px 10px;
}
.menu_2 .box-container .box p {
  padding: 1rem 0;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #ababab;
  margin-bottom: 0;
  font-family: "Geologia", sans-serif;
}

.gallery .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 5rem;
}
.gallery .box-container .box {
  overflow: hidden;
  height: 25rem;
  position: relative;
}
.gallery .box-container .box:hover {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid #512a10;
}
.gallery .box-container .box:hover img {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}
.gallery .box-container .box:hover .content {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.gallery .box-container .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery .box-container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  text-align: center;
  padding: 3rem 2rem;
  height: 100%;
  width: 100%;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  padding-top: 4rem;
}
.gallery .box-container .box .content h3 {
  font-size: 2rem;
  -webkit-text-decoration: capitalize;
          text-decoration: capitalize;
  color: #222;
}
.gallery .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
  margin-bottom: 0;
}

.reviews {
  background: #eee;
}
.reviews .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 5rem;
}
.reviews .box-container .box {
  text-align: center;
  padding: 3rem 2rem;
  border-radius: 0.5rem;
}
.reviews .box-container .box:hover {
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-1rem);
      -ms-transform: translateY(-1rem);
          transform: translateY(-1rem);
}
.reviews .box-container .box img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}
.reviews .box-container .box h3 {
  font-size: 2rem;
  -webkit-text-decoration: capitalize;
          text-decoration: capitalize;
  color: #222;
}
.reviews .box-container .box p {
  font-size: 1.6rem;
  line-height: 2;
  color: #666;
  margin-bottom: 0;
  padding: 1rem 0;
}
.reviews .box-container .box .stars {
  margin-top: 1rem;
}
.reviews .box-container .box .stars i {
  font-size: 1.7rem;
  color: #512a10;
}

.blogs h3 {
  color: black;
  text-transform: uppercase;
  text-align: center;
}

.contact .contact-info-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 5rem;
  margin-bottom: 3rem;
}
.contact .contact-info-container .box {
  padding: 0rem 2rem;
  text-align: center;
  background: white;
}
.contact .contact-info-container .box:hover i {
  background: #512a10;
  color: #fff;
}
.contact .contact-info-container .box i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  border: 0.1rem solid #512a10;
  color: #512a10;
}
.contact .contact-info-container .box h1 {
  font-size: 3.5rem;
  font-weight: 800;
  padding: 10px 0 0 0;
}
.contact .contact-info-container .box h3 {
  font-size: 2rem;
  -webkit-text-decoration: capitalize;
          text-decoration: capitalize;
  color: #222;
  margin-bottom: 0px;
}
.contact .contact-info-container .box p {
  font-size: 1.3rem;
  line-height: 1.5rem;
  color: #a3a3a3;
  margin-bottom: 0;
}
.contact .contact-info-container .box img {
  width: 70%;
}
.contact form h3 {
  font-size: 3rem;
  -webkit-text-decoration: capitalize;
          text-decoration: capitalize;
  color: #222;
  padding-bottom: 1rem;
}
.contact form .box {
  margin: 0.7rem 0;
  border: 0.1rem solid #512a10;
  font-size: 1.6rem;
  width: 100%;
  padding: 1.2rem 1.4rem;
}
.contact form .box:focus {
  background: #512a10;
  color: #fff;
}
.contact form .box:focus::-webkit-input-placeholder {
  color: #eee;
}
.contact form .box:focus::-moz-placeholder {
  color: #eee;
}
.contact form .box:focus:-ms-input-placeholder {
  color: #eee;
}
.contact form .box:focus::-ms-input-placeholder {
  color: #eee;
}
.contact form .box:focus::placeholder {
  color: #eee;
}
.contact form textarea {
  height: 15rem;
  resize: none;
}

.blogs {
  background: #eee;
}
.blogs .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 5rem;
  margin-top: 3rem;
}
.blogs .box-container .box .image {
  overflow: hidden;
}
.blogs .box-container .box .image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blogs .box-container .box .content {
  padding: 2rem;
  text-align: center;
}
.blogs .box-container .box .content h3 {
  font-size: 2rem;
  -webkit-text-decoration: capitalize;
          text-decoration: capitalize;
  color: #222;
}
.blogs .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
  margin-bottom: 0;
}
.blogs .box-container .box .icons {
  padding: 1.7rem;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
}
.blogs .box-container .box .icons span {
  font-size: 1.4rem;
  -webkit-text-decoration: capitalize;
          text-decoration: capitalize;
  color: #222;
}
.blogs .box-container .box .icons span i {
  padding-right: 0.5rem;
  color: #512a10;
}

.newsletter {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../assets/banner_2.jpg) no-repeat;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/banner_2.jpg) no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/banner_2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.newsletter h3 {
  font-size: 4rem;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0;
}
.newsletter p {
  padding: 1rem 0;
  font-size: 2rem;
  color: #fff;
}
.newsletter form {
  margin: 1rem auto;
  max-width: 60rem;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}
.newsletter form .link-btn {
  margin-top: 0;
}
.newsletter form .email {
  width: 100%;
  padding: 0 1.4rem;
  font-size: 1.6rem;
}

.footer {
  background-color: #000000;
  padding: 70px 0;
  /*text-align: center;
   .logo{
       font-size: 3rem;
       color: $main-color;
       font-weight: bolder;
   }

   .credit{
       margin: 2rem 0;
       @include title-text(2rem);

       span{
           text-decoration: underline !important;
       }
   }
   .share {
       margin-top: 2rem;

       a{
           height: 5rem;
           width: 5rem;
           line-height: 5rem;
           font-size: 2rem;
           border: $border;
           color: $main-color;
           margin: 0 .3rem;

           &:hover{
               background: $main-color;
               color: $white;
           }
       }
   }
  */
}

.row_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  max-width: 1170px;
  margin: auto;
}

ul {
  list-style: none;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 16px;
  color: yellow;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 700;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: yellow;
  height: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 6px;
}

.footer-col ul li a {
  font-size: 13px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 700;
  color: yellow;
  display: block;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 75px;
  margin-right: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: yellow;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.fa-brands {
  font-weight: 400;
  font-size: 20px;
  padding: 0px 0px 0px 10px;
}

section.blogs_2 {
  padding: 2rem 0rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogs_2 .box {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1.3rem;
  font-weight: 900;
  padding: 0px 5% 0px 0px;
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1240px;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
    scroll-padding-top: 8rem;
  }
  .home h3 {
    font-size: 4rem;
    width: 100%;
  }
  .home span {
    width: 100%;
  }
  section {
    padding: 3rem 0;
  }
  .menu .container {
    display: inline-block;
  }
  .menu .container .box h3 {
    font-size: 2rem;
    font-weight: 100;
  }
  .menu .container .box p {
    font-size: 2rem;
    line-height: 1.4;
    padding: 0px 0px;
  }
  .menu .container .box a {
    font-size: 1.6rem;
  }
  .menu_2 .container {
    display: inline-block;
    width: 35%;
  }
  .contact .contact-info-container {
    display: grid;
    width: 50%;
  }
  .contact .contact-info-container button#login-btn-4 {
    background: yellow;
    border: 10px solid #fff;
    font-size: 2.1rem;
    margin: 0;
  }
  .footer .row_2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .menu_2 .container {
    display: inline-block;
    width: 50%;
  }
  .login-form form {
    padding: 3rem 2rem;
  }
  .login-form form h3 {
    font-size: 1.7rem;
  }
  .header {
    padding: 4rem 2rem;
  }
  .header.active {
    padding: 2rem;
    background: black;
  }
  .header #menu-btn {
    display: inline-block;
  }
  .header #menu-btn.fa-times {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .header #login-tn {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: yellow;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding: 1rem 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .icons #login-btn {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: yellow;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding: 1rem 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .nav {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: yellow;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding: 1rem 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .nav.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .nav a {
    margin: 1rem 2rem;
    color: #222;
  }
  .contact .map {
    height: 25rem;
  }
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .menu_2 .container {
    display: inline-block;
    width: 78%;
  }
}